body{
    font-family: Century Gothic;
    height: 100vh;
    margin: 0%;
}



#top{
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    margin: 0%;
    padding-top: 10px;
    height: 60px;
}
#logo{
    display: flex;
    align-items: center;
}

#nav{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}
.link{
    font-size: 13px;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.text{
    text-decoration: none;
    color: black;
}
.text_top{
    text-decoration: none;
    color: black;
}
#btn_top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10%;
    width: 13%;
}
.btn_top{
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    width: 100%;
    padding: 14px 10px 14px 10px;
    border-radius: 10px;
    border: 2px solid rgb(0, 156, 234);
}





#middle{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
h1{
    text-transform: capitalize;
    font-size: 45px;
    margin: 0px;
    padding-top: 9px;
}
p{
    margin: 2px;
    font-size: 18px;
}
.btn_mid{
    font-size: 13px;
    color: #fff;
    padding: 15px 35px 15px 35px;
    border-radius: 10px;
    background-color: rgb(0, 156, 234);
    border: 2px solid rgb(0, 156, 234);
}
.text_btn{
    text-decoration: none;
    color: #fff;
}




#bottom{
    width: 80vw;
    display: flex;
    justify-content: center;
    height: auto;
    margin: auto;
}






.link:hover{
    color: #fff;
    background-color: rgb(0, 156, 234);
    border: 2px solid rgb(0, 156, 234);
    padding: 14px 10px 14px 10px;
}
.btn_top:hover{
    color: #fff;
    background-color: rgb(0, 156, 234);
}
.btn_mid:hover{
    color: rgb(0, 156, 234);
    background-color: #fff;
    border: 2px solid rgb(0, 156, 234);
}
/* icons */
.icon-cam { 
    position: absolute;
    left: 35%; 
    bottom: 47%;
    z-index: 999;   
}

.icon-hour { 
    position: absolute;
    left: 52%; 
    bottom: 50%;
    z-index: 999;   
}

.icon-mail { 
    position: absolute;
    left: 40%; 
    bottom: 55%;
    z-index: 999;   
}

.icon-micro { 
    position: absolute;
    left: 65%; 
    bottom: 35%;
    z-index: 999;   
}